/* t18.css*/
body {
  margin: 0;
  font-size: 0.8em;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto; 
  gap: 10px;
}

.item {
  padding: 10px;
  text-align: center;
}
.item2{
  grid-column: 2 /  span 3;
}

.item1 {background-color: rgb(27, 209, 148);}
.item2 {background-color: rgb(32, 72, 145);}
.item3 {background-color: rgb(161, 127, 255);}
.item4 {background-color: rgb(70, 30, 48);}
.item5 {background-color: rgb(214, 171, 145);}
.item6 {background-color: rgb(232, 238, 144);}
.item7 {background-color: rgb(161, 228, 178);}
.item8 {background-color: rgb(167, 140, 211);}
.item9 {background-color: rgb(236, 238, 136);}
.item10 {background-color: rgb(232, 238, 144);}
.item11 {background-color: rgb(161, 228, 178);}
.item12 {background-color: rgb(167, 140, 211);}
.item13 {background-color: rgb(236, 238, 136);}
.item14 {background-color: rgb(167, 140, 211);}
.item15 {background-color: rgb(236, 238, 136);}